<div ng-controller="questionController as QuesCtrl">
    <div ng-repeat="question in QuesCtrl.actualQcm.questions" ng-if="question.id == QuesCtrl.QIndex">
        <p>Question : {{question.Titre}}
            <!-- Affichage des reponses. Affichage different si le QCM a été fait ou pas. -->
        <li ng-repeat="reponse in QuesCtrl.actualQuestion.reponses" ng-if="!QuesCtrl.qcm[QuesCtrl.actualQcm.id]">
            <input type="radio"
                   ng-model="QuesCtrl.radio[reponse.id]"
                   ng-value="true"
                   ng-click="QuesCtrl.nextQ(reponse.id, QuesCtrl.qcm[QuesCtrl.actualQcm.id])"
                   name="{{'Normal'+'qcm'+QuesCtrl.actualQcm.id+'ques'+QuesCtrl.actualQuestion.id}}"
                    />
            <span>{{reponse.Titre}}</span>
        </li>
        <li ng-repeat="reponse in QuesCtrl.actualQuestion.reponses" ng-if="QuesCtrl.qcm[QuesCtrl.actualQcm.id].cleared" ng-click="QuesCtrl.nextQ(reponse.id, true)">
>>>

                        <span ng-class="QuesCtrl.styleAnswer[reponse.id]">{{reponse.Titre}}</span>


        </li>

        </p>

        <button ng-click="QuesCtrl.moveQ(-1)" ng-hide="question.id==0">last</button>
        <button ng-click="QuesCtrl.moveQ(1)" ng-hide="question.id==QuesCtrl.actualQcm.questions.length-1">next</button>

    </div>
</div>